
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

header{
    position: fixed;
    z-index: 55;
}

body{
    margin: 0em;
    overflow-x: hidden;
}

nav{
    height: 4em;
    width: 100%;
    top: 0;
    background-color: white;
    color: black;
    border-bottom: 3px solid rgb(170, 167, 167);
    position: fixed;
    z-index: 1;
}

nav ul li{
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 19.36px;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    list-style-type: none;
    margin: 1.3em 5% 1.3em 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 520;
}

#code{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30%;
    font-weight: 700;
    font-size: 22.01px;
    line-height: 28.17px;
    font-family: 'Kode Mono';
    text-decoration: none;
    cursor:pointer;

}


.code{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 30%;
    font-weight: 700;
    font-size: 22.01px;
    line-height: 28.17px;
    font-family: 'Kode Mono';
}

.code h2{
    margin: 10px 0px 0px 5px;
}
#code[type='text']{
    margin-top: -15px;
}

#code img{
    width: 58.52px;
    height: 40.84px;
    margin-top: -12.25px;
    margin-right: 5px;
}

nav ul li{
    cursor: default;
}

nav ul li:hover{
    text-decoration: underline;
}
nav ul li a{color: inherit;text-decoration: none;}

nav ul li:active{
    text-decoration: underline;
}
#register{
    background-color: #7bb2d0;
    color: #fff;
    padding: 10px 15px 5px 15px;
    border-radius: 5px;
    margin-top: -10px;
    cursor: pointer;
}

#register:hover{
    background-color: #265b77;
}

#register:active{
    background-color: #7bb2d0;
}

#hero{
    background-image: url(f124b26c74821a937562cedb06d59166.jpeg);
    background-size: cover;
    background-repeat: none;
    background-position: center;
   padding-top: 4em;
   height: 100vh;
}

.hero{
    height: 93.135vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.466);
    padding: 5% 7%;
    
}

#hero .pin{
    position: absolute;
    width: 80px;
    margin-top: -20px;
    height: 80px;
    margin-left: -20px;
}

#hero div{
    width: 100%;
}

#hero h1{
    font-size: 45px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    width: fit-content;
    line-height: 44px;
    font-weight: 700;
    letter-spacing: 4%;
    color: white;
}
#hero h2:nth-child(1){
    margin-top: 10px;
}

#hero p{
    font-size: 18px;
    line-height: 20.36px;
    font-weight: 400;
    margin-bottom: 2px;
    color: #fff;
    font-family: 'Poppins';
    text-align: center;

}
#hero button{
    letter-spacing: 2px;
    background-color: #00051f;
    color: white;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;line-height: 19.36px;
    margin-top: 1em;
}

#hero button:hover{
    background-color: hsl(231, 93%, 11%);
}

#hero button:active{
    background-color: #00051fef;
}
.run{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.runs{
    display: flex;
}

.h3{
    line-height: 24.2px;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 3em 10% 0 10%;
    font-family: 'Poppins';
}

#about h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}

#about p{
    text-align: center;
    padding: 0 50px;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
    line-height: 30.36px;
}

.runn{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-right: auto;
    width: 33%;
}

.runss{
    margin-top: 2em;
    width: 100%;
    height: 260px;
    border-radius: 16px;
}


#heros{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   column-gap: 64px;
    height: auto;
    margin: 5em 10% 0 10%;
}

#heros h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 5px;
}

#heros p{
    font-family: 'Poppins';
    color: #6A6D78;
    line-height: 1.1em;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
}

#heros button{
    background-color: #7bb2d0;
    color: white;
    width: fit-content;
    padding: 14px 20px;
    gap: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.36px;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 400;
}

#heros button:hover{
    background-color: #265b77;
}

#hero button:active{
    background-color: #7bb2d0;
}

#heros div{
    width: 100%;
}

.runnn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.runss img{
    width: 100%;
    height: 260px;
    border-radius: 16px;
}

#heross{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    height: auto;
    margin: 4em 10% 0 10%;
}


#heross h2{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 5px;
}

#heross p{
    font-family: 'Poppins';
    color: #6A6D78;
    line-height: 1.1em;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
}

#heross button{
    background-color: #7bb2d0;
    color: white;
    width: fit-content;
    padding: 16px 20px;
    gap: 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 19.36px;
    font-family: 'Poppins';
    font-weight: 400;
}

#heross button:hover{
    background-color: #265b77;
}

#heross button:active{
    background-color: #7bb2d0;
}


#module{
    margin: 96px 10% 0 10%;
}

#module h2{
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: 5px;
}

.module{
display: grid;
grid-template-columns: repeat(3,1fr);
height: auto;
gap:30px;
}

.module div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 2em 3em 2em 3em;
}

.module div img{
    height: 5em;
}

.module h2{
    color: #58a0c7;
    font-weight: 500;
    font-size: 30px;
    line-height: 25px;
    font-family: 'Roboto';
}

.module p{
    text-align: center;
    margin-top: 0;
    padding-bottom: 2em;
    border-bottom: 2px solid white;
    color: #201e1e;
    font-weight: 400;
    line-height: 25px;
    font-size: 16px;
    font-family: 'Roboto';
}



.module a{
    width: fit-content;
    background-color: #58a0c7;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Roboto';
    font-size: 13px;
    letter-spacing: 1.08px;
    cursor: pointer;
    text-decoration: none;
}

.module a:hover{
    background-color: #265b77;
}

.module a:active{
    background-color: #7bb2d0;
}

.module ul{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 1em;
    list-style-type: none;
    line-height: 2.5em;
    padding-left: 0;
    font-family: 'Roboto';
}

.module li::before {
    content: "\2714";
    color: rgb(12, 100, 100);
    font-weight: bold;
    width: 1em;
    margin-right: 1em;
}

#main{
    background-color: #f0f0f0;
    height: auto;
    margin-top: 5em;
    font-family: 'Roboto';
    width: 100%;
}

.mains h2{
    text-align: center;
}

.schedule_container {
    width: 100%;
    padding: 4em 5%;
    height: auto;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.schedules {
    max-width: 100%;
    height: 307px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.schedule_card {
    width: 357px;
    height: 284px;
}
.schedule_mode {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.schedule_mode h2 {
    font-family: 'inter' sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    color: #000;
    text-align: center;
}
.schedule_mode img {
    width: 32px;
    height: 32px;
}
.schedule_description {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.schedule_description img {
    width: 208px;
    height: 208px;
}
.schedule_description div {
    width: 147px;
    height: 142px;
}
.schedule_description div div {
    display: flex;
    gap: 5px;
}
.schedule_description div div img {
    width: 65px;
    height: 65px;
}
.schedule_card2 h2 {
    font-family: 'inter' sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    color: #000;
}
.schedule_card2 img {
    width: 208px;
    height: 208px;
}

#color{
    margin: 7em 10% 4em 10%;
}

.color{
    padding: 0em 4em 0em 3em;
    background: linear-gradient(90deg,rgb(33, 77, 112), rgb(212, 126, 27));
    width: 100%;
    height: 170px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    color: white;
    font-family: 'Lunasima';
}

.color h2{
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    margin-bottom: 10px;
}

.color p{
    margin: 0;
    font-size: 16px;
    line-height: 19.36px;
    font-weight: 500;
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    margin-left: auto;
}

button{
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background-color: #58a0c7;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
}

.btn button:hover{
    background-color: #265b77;
}

.btn button:active{
    background-color: #55a4ce;
}

.color div{
    padding: 5px 15px 2px 15px;
}

#people{
    margin: 7em 5% 4em 5%;
}

#people h2{
    text-align: center;
    font-family: 'Roboto';
}

.people{
    display: grid;
    gap: 20px;
    row-gap: 40px;
    margin: 4em;
    grid-template-columns: repeat(4,1fr);
}

.people div{
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 15px;
    background-color: #f0f0f0;
    font-family: 'Poppins';
}

.people .imgs{
    position: absolute;
    border-radius: 50%;
    background-color: rgb(58, 55, 55);
    margin-top: -22px;
    width: 60px;
    height: 60px;
    margin-left: 20px;
}
.people h3{
    margin-top: 2.5em;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 700;
}

.people button{
    border: none;
    background-color: inherit;
    padding: 2px 20px;
    text-decoration: underline;
    color: black;
    margin-bottom: 23px;
}

.people p{
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: grey;
}

#mains{
    background-color: #f0f0f0;
    height: auto;
    margin-top: 5em;
    font-family: 'Poppins';
    width: 100%;
}

.mains p{
    line-height: 19.36px;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
}

.mains{
    padding: 3em 8% 4em 7%;
}
#mains h4{
    text-align: center;
    margin-bottom: 0em;
}
.wrapper {
    margin-top: 0em;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3.5));
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 15px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
    padding-top: 5em;
    font-family: 'Poppins';
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }
  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: auto;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2em 2em 0em 2em;
    text-align: center;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 168px;
    width: 168px;
    border-radius: 50%;
    margin-top: -80px;
    box-shadow: 5px 5px 5px grey;
  }
  .card .img img {
    width: 168px;
    height: 168px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h3 {
    font-weight: 500;
    margin: 30px 0 5px;
  }
  .carousel .card span {
    font-weight: bold;
    margin-top: 10px;
    font-size: 1.31rem;
    font-family: 'Roboto';
    
  }

 
  .carousel a {
    text-decoration: none;
    color: inherit;
}

.card p{
    margin-top: 5px;
}

#link{
    margin: 7em 10% 0em 10%;
}

.link{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-bottom: 2px solid grey;
    gap: 20px;
    padding-bottom: 40px;
}

.link ul{
    display: flex;
    justify-content: space-evenly;
}

.link ul li{
    list-style-type: none;
    font-family: 'Poppins';
}
.link ol{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    
}

.link ol li {
    margin-right: 15px;
    display: flex;
    text-decoration: none;
}

.link ol li i{
    font-size: x-large;
    aspect-ratio: 1/1;
    
}


.link ol li i:hover {
    transform: scale(1.2);
    filter: brightness(1.2);
}


footer{
    margin: 1em 10% 1em 10%;
}

footer p{
    text-align: center;
    font-family: 'Poppins';
}

#codes{
    display: none;
    font-size: 45px;
    font-family: bold;
    text-decoration: none;
}



#aside{
    z-index: 2;
    display: none;
    position: fixed;
    top: 3.5em;
   height: 100%;
    width: 100%;
    background-color: rgba(56, 51, 51, 0.664);
}

#bar{
    position: absolute;
    right: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: #2c3e50;
    margin: 0;
  overflow-y: auto;
  transition:  display 2s ease-out;
  
}

#sidebar{
    max-height: 550px;
    padding: 0;
    padding-left: 30px;
    margin-right: 0;
    
   
}


#bar a{
    padding: 7px;
    line-height: 2.5em;
    text-decoration: none;
    font-size: 24px;
    color: rgb(252, 251, 251);
    font-family: 'Poppins';
    font-weight: 300;
}


@media screen and (max-width:567px) {
    nav ul li{
        display: none;
    }
    nav ul{
        padding-left: 0;
        margin-left: 5%;
        margin-right: 4%;
    }
    #code{
        margin-right: auto;
    }
    #codes{
        margin-right: 0;
        display: block;
    }
   
    #hero p,button{
        margin: 35px 0px;
    }
   
    .run{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .runs{
        display: none;
    }

    #hero h1,p{
        width: 100%;
        text-align: center;
    }
    #about p{
        padding: 0;
    }
    #heros{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }
    #heros h2{
        margin-top: 0;
    }

    #heros p{
        text-align: left;
    }

    #heross{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    #heross h2{
        margin-top: 0;
    }

    #heross p{
        text-align: left;
    }

    .module{
        grid-template-columns: repeat(1,1fr);
        row-gap: 75px;
    }
    .module div{
        padding: 1em 1em 2em 1em;
    }

    .module h2{
        margin-top: 15px;
    }
.module p{
    padding-bottom: 15px;
}
    .schedules{
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    height: auto;
    }

    .schedule_description{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .schedule_description div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .schedule_description div h2{
        margin-bottom: 0;
    }


    .schedule_description div{
        height: 80px;
    }
    .schedule_description img {
        width: 150px;
        height: 150px;
    }
    .schedule_description div div img {
        width: 40px;
        height: 40px;
    }
    .schedule_description div div h2{
        margin: 0;
        height: fit-content;
    }

    .schedule_container{
        padding: 20px 10% 20px 5%;
    }
    
    .color .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0em;
    }
    .color{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .color h2{
        text-align: center;
    }
    .people{
        grid-template-columns: repeat(1,1fr);
        row-gap: 50px;
    }

    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100%));
    }
    
.carousel .card .img{
    height: 130px;
    width: 130px;
    margin: 0em 0em 1em 0em;
}
 .carousel .card{
    display: flex;
    flex-direction: column;
 }
 .link{
    display: flex;
    flex-direction: column;
 }
 .code{
    margin: 0;
    display: flex;
    align-self: center;
 }
 
 .people{
    margin: 0;
 }
 #people{
    margin: 7em 10% 4em 10%;
 }
 .runss img{
    width: 100%;
 }
 #heross .runss img{
    width: 100%;
 }
}

@media only screen and (min-width: 568px) and (max-width: 767px) {
    /* Styles for devices between 576px and 767px */
    nav ul li{
        display: none;
    }
    nav ul{
        padding-left: 0;
        margin-left: 5%;
    }
    #code{
        margin-right: auto;
    }
    #codes{
        margin-right: 0;
        display: block;
    }
    
    .run{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #hero h1,p{
        width: 100%;
        text-align: center;
    }
    #about p{
        padding: 0;
    }
    #heros{
        display: flex;
        flex-direction: column-reverse;
        gap: 16px;
    }

    #heros img{
        height: 300px;
    }
    #heros h2{
        margin-top: 0;
    }

    #heros p{
        text-align: left;
    }

    #heross{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    #heross img{
        height: 300px;
    }

    #heross h2{
        margin-top: 0;
    }

    #heross p{
        text-align: left;
    }

    .module{
        grid-template-columns: repeat(1,1fr);
        row-gap: 75px;
    }
    .module div{
        padding: 2em 2em 2em 1em;
    }

    .module h2{
        margin-top: 15px;
    }
.module p{
    padding-bottom: 15px;
}
    .schedules{
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    height: auto;
    }

    .schedule_description{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .schedule_description div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .schedule_description div h2{
        margin-bottom: 0;
    }


    .schedule_description div{
        height: 80px;
    }
    .schedule_description img {
        width: 150px;
        height: 150px;
    }
    .schedule_description div div img {
        width: 40px;
        height: 40px;
    }
    .schedule_description div div h2{
        margin: 0;
        height: fit-content;
    }

    .schedule_container{
        padding: 20px 10% 20px 5%;
    }

    
    .color .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0em;
    }
    .color{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .color h2{
        text-align: center;
    }
    .people{
        grid-template-columns: repeat(1,1fr);
        row-gap: 50px;
    }
    #people h2{
        margin-bottom: 2em;
    }

    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100%/2));
    }
    
.carousel .card .img{
    height: 130px;
    width: 130px;
    margin: 0em 0em 1em 0em;
}
 .carousel .card{
    display: flex;
    flex-direction: column;
 }
 .link{
    display: flex;
    flex-direction: column;
 }
 .code{
    margin: 0;
    display: flex;
    align-self: center;
 }

 .people{
    margin: 0;
 }
 #people{
    margin: 7em 10% 4em 10%;
 }
 .runss img{
    width: 100%;
 }
 #heross .runss img{
    width: 100%;
 }

}



@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for devices between 768px and 991px */
   #code{
    width: fit-content;
    margin-right: 50px;
   }

   nav ul{
    margin: 1.3em 3% 1.3em 2%;
    padding-left: 0;
   }

    .run{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    #hero h1,p{
        width: 100%;
        text-align: center;
    }
    #about p{
        padding: 0;
    }
    #heros{
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    #heros img{
        height: 300px;
    }
    #heros h2{
        margin-top: 0;
    }

    #heros p{
        text-align: left;
    }

    #heross{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
    }
    #heross img{
        height: 300px;
    }

    #heross h2{
        margin-top: 2em;
    }

    #heross p{
        text-align: left;
    }
    
    

    .module{
        grid-template-columns: repeat(2,1fr);
        row-gap: 55px;
    }
    .module div{
        padding: 2em 2em 2em 1em;
    }

    .module h2{
        margin-top: 15px;
    }
.module p{
    padding-bottom: 15px;
}
    .schedules{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    height: auto;
    }

    .schedule_description{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .schedule_description div{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .schedule_description div h2{
        margin-bottom: 0;
    }


    .schedule_description div{
        height: 80px;
    }
    .schedule_description img {
        width: 150px;
        height: 150px;
    }
    .schedule_description div div img {
        width: 40px;
        height: 40px;
    }
    .schedule_description div div h2{
        margin: 0;
        height: fit-content;
    }

    .schedule_container{
        padding: 20px 10% 20px 5%;
    }

    
    .color .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0em;
    }
    .color{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .color h2{
        text-align: center;
    }
    .people{
        grid-template-columns: repeat(2,1fr);
        row-gap: 50px;
    }
    #people h2{
        margin-bottom: 2em;
    }

    .wrapper .carousel{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: calc((100%/2));
    }
    
.carousel .card .img{
    height: 130px;
    width: 130px;
    margin: 0em 0em 1em 0em;
}
 .carousel .card{
    display: flex;
    flex-direction: column;
    padding: 3em 1em;

 }
 .link{
    display: flex;
    flex-direction: column;
 }
 .code{
    margin: 0;
    display: flex;
    align-self: center;
 }
 

 .people{
    margin: 0;
 }
 #people{
    margin: 7em 10% 4em 10%;
 }
 .runss img{
    width: 100%;
 }
 #heross .runss img{
    width: 100%;
 }
      
  }
  

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Styles for devices between 992px and 1199px */
   
    
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2.5));
      }
      
    
  }

  @media only screen and (min-width: 1024px) and (max-width: 1279px) {
    /* Styles for tablets in landscape */
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3));
      }
  }
  
  /* Custom Breakpoint for Large Monitors (min-width: 1600px) */
  @media only screen and (min-width: 1600px) {
    /* Styles for large monitors */
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4));
      }
    
  }